@page "/"

@using BlazorSupervisionRBI.Data



<div class="positon-absolute top-0 end-100">
    <h3>Legend</h3>
    <div class="list-group">
        @foreach (var item in CommonClass.statusLayout.Values)
        {
            <span><i class="bi bi-circle-fill" style="color:@(item[1])"></i>&nbsp @item[0] </span>
        }
    </div>
</div>