<div class="ps-5 pe-3 pt-2 top-row navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorSupervisionRBI</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3" style="tex">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <h4 class="bi bi-laptop m-1 ms-0 me-2" aria-hidden="true"></h4> Serveur
            </NavLink>
        </li>
        <li class="nav-item px-3" style="tex">
            <NavLink class="nav-link" href="SymantecVeeam" Match="NavLinkMatch.All">
                <h4 class="bi bi-app m-1 ms-0 me-2" aria-hidden="true"></h4> Symantec/Veeam
            </NavLink>
        </li>
        <li class="nav-item px-3" style="tex">
            <NavLink class="nav-link" href="Hardware" Match="NavLinkMatch.All">
                <h4 class="bi bi-hdd-stack m-1 ms-0 me-2" aria-hidden="true"></h4> Materiel
            </NavLink>
        </li>
    </ul>
</div>

<div class="ms-4 mt-auto mb-4 text-white">
    <h3>Legende</h3>
    <div class="list-group">
        @foreach (var item in CommonClass.statusLayout.Values)
        {
            <span><i class="bi bi-circle-fill" style="color:@(item[1])"></i>&nbsp @item[0] </span>
        }
    </div>
</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
